.panel {
    width: 400px;
    height: 369px;
    padding: 16px;
    position: absolute;
    left: 0;
    top: 200px;
    background-color: rgba(0, 0, 0, 0.36);

    .title{
        margin-top: 16px;
    }
}
